body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#ploca {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
    width: 480px;
    height: 480px;
}

.kvadrat {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Arial, sans-serif;
    cursor: grab;
}

.bijela {
    background-color: #c2d1a4; 
}

.crna {
    background-color: #567d46; 
}

.pomjeranje {
    opacity: 0.5;
}
.bijela-figura {
    color: #fff;
}


.crna-figura {
    color: #000; 
}